{
  "$schema": "https://opencode.ai/config.json",
  "agent": {
    "atlas": {
      "mode": "primary",
      "model": "mimo/mimo-v2-pro"
    },
    "build": {
      "model": "mimo/mimo-v2-pro",
      "options": {
        "store": false
      }
    },
    "explore": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "general": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "hephaestus": {
      "mode": "primary",
      "model": "mimo/mimo-v2-pro"
    },
    "metis": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "momus": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "multimodal-looker": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "oracle": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "plan": {
      "model": "mimo/mimo-v2-pro",
      "options": {
        "store": false
      }
    },
    "prometheus": {
      "mode": "primary",
      "model": "mimo/mimo-v2-pro"
    },
    "sisyphus": {
      "mode": "primary",
      "model": "mimo/mimo-v2-pro"
    },
    "sisyphus-junior": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "summary": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    },
    "title": {
      "mode": "subagent",
      "model": "mimo/mimo-v2-pro"
    }
  },
  "compaction": {
    "auto": true,
    "prune_tool_outputs": true,
    "strategy": "summarize",
    "threshold": 0.8
  },
  "default_agent": "build",
  "model": "mimo/mimo-v2-pro",
  "plugin": [
    "@tarquinen/opencode-dcp",
    "@zenobius/opencode-skillful",
    "opencode-mem"
  ],
  "provider": {
    "mimo": {
      "models": {
        "mimo-v2-pro": {
          "limit": {
            "context": 1000000,
            "output": 65536
          },
          "name": "Mimo V2 Pro"
        }
      },
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "apiKey": "<YOUR_API_KEY>",
        "baseURL": "https://api.xuansuan.top/v1"
      }
    }
  }
}